In [1]:
print("Hello my friend!")

Hello my friend!

In [2]:
x = 2
y = 3

In [3]:
x + y

5

In [4]:
x + y
x - y

-1

In [5]:
print( x + y)
x - y

5

-1

In [19]:
mynums = [*range(1,6)]
mynums

[1, 2, 3, 4, 5]

In [20]:
for n in mynums:
    print(n + 1)

2
3
4
5
6

In [16]:
mynums?

In [21]:
import pandas as pd

In [22]:
pd.DataFrame(mynums)

   0
0  1
1  2
2  3
3  4
4  5

In [23]:
mynums.sort(reverse = True)

In [24]:
mynums

[5, 4, 3, 2, 1]

In [25]:
import panda as pd

ModuleNotFoundError: No module named 'panda'

In [27]:
x = 1+1
y = 1-1
z = x/y

ZeroDivisionError: division by zero

In [28]:
%debug

> c:\users\pavlo\appdata\local\temp\ipykernel_32060\1746220672.py(3)<module>()

ipdb> x
2
ipdb> y
0
ipdb> exit()